:root {
  --dark-purple: #420F38;
  --purple: #974E8A;
  --light-purple: #E4C0DD;
  --black: #000000;
  --white: #FFFFFF;
  --error: #ffff00;
}

body {
  background-color: var(--light-purple);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container_clear{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 5px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 400px;
  background-color: var(--purple);
  margin: 30px auto;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(8,7,16,0.6);

}

.size_heading{
  color: var(--white);
  font-size: 32px;
}

.input_white {
  background-color:var(--white);
  font-size: 16px;
  width: 90%;
  height: 10px;
  padding: 16px;
  margin: 10px 0;
  border: 2px solid var(--dark-purple);
  border-radius: 6px;
}

.label{
  color: var(--white);
  margin-left: 1%;
  align-self: start !important;
  margin-bottom: -3%;
}

.error{
  color:var(--error);
}


.btn {
  cursor: pointer;
  width: 75%;
  border: 1px solid var(--purple);
  padding: 16px;
  border-radius: 6px;
  color: var(--white);
  background: var(--dark-purple);
  font-size: 16px;
}
