:root {
  --dark-purple: #420F38;
  --purple: #974E8A;
  --light-purple: #E4C0DD;
  --black: #000000;
  --white: #FFFFFF;
  --error: #ff0000;
}

body {
  /* background-color: var(--light-purple); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container_clear{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
  background-color: var(--light-purple);
  margin: 10px auto;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(8,7,16,0.6);

}

.logo_login{
  height: 150px;
  width: 230px;
}

.size_heading{
  color: var(--dark-purple);
  font-size: 32px;
}

.input_white {
  background-color:var(--white);
  font-size: 16px;
  width: 90%;
  height: 10px;
  padding: 16px;
  margin: 10px 0;
  border: 2px solid var(--dark-purple);
  border-radius: 6px;
}

.label{
  color: var(--dark-purple);
  margin-left: 1%;
  align-self: start !important;
  margin-bottom: -3%;
}

.error{
  color:var(--error);
  font-size: 16px;
}

.btn {
  cursor: pointer;
  width: 75%;
  border: 1px solid var(--purple);
  padding: 16px;
  border-radius: 6px;
  color: var(--white);
  background: var(--dark-purple);
  font-size: 16px;
}

.navbar {
  background-color: var(--dark-purple);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 0.9rem;
  font-size: 24px;
  background: none;
}

.nav-menu {
  background-color: var(--light-purple);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--dark-purple);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--purple);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--light-purple);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.logo_navbar{
  height: 100px;
  width: 150px;
}

.hello-message{
  color: var(--light-purple);
  margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
}